 .container {
    display: flex;
    align-items: center;
    /* justify-content: space-around;  */
}
    
  .item {
    height: 100px;
    min-width: 100px;
    align-self: flex-end;
    flex-direction: row-reverse;
}

  .green {
    background: green;
    flex-grow: 1;
    order: 2;

  }
  .yellow {
      background: yellow;
      flex-grow: 2;
      order: 1;
  }
  .purple {
    background: purple;
    flex-grow: 1;
    order: 0;
